.de1 {
    width: 1440px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.hh {
    display: flex;
    gap: 20px;
}
.bt {
    width: 60px;
    height: 30px;
}
.cl {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #18191F;
}
.bt{
    background-color: transparent;
    border: none;
    color: #4CAF4F;
    font-size: 14px;
    cursor: pointer;
}
.bt1 {
    border-radius: 10px;
    background-color: #4CAF4F;
    width: 91px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.de2 {
    width: 1440px;
    height: 599px;
    border: solid 1px red;
    display: flex;

}
.header1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 64px;
}
span {
    color: #4CAF4F
}
.hh2 {
    border: solid 1px red;
     
}
.p1 {

}